################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Diablo/.vs/Diablo/v14/.suo
/Diablo/Diablo/bin/Debug/Diablo.vshost.exe.manifest
/Diablo/.vs/Diablo/v15/Server/sqlite3/db.lock
/Diablo/.vs/Diablo/v15/Server/sqlite3/storage.ide
/Diablo/.vs/Diablo/v15/Server/sqlite3/storage.ide-wal
/Diablo/.vs/Diablo/v15/Server/sqlite3/storage.ide-shm
/Diablo/Diablo/obj/Debug/Diablo.csproj.CoreCompileInputs.cache
/Diablo/.vs/Diablo/v15/.suo
/Diablo/Diablo/obj/Release/Diablo.csproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
