################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Diablo/.vs/Diablo/v14/.suo
/Diablo/Diablo/bin/Debug/Diablo.vshost.exe.manifest
